{{page-title "MyFirstEmberCode"}}

{{!-- The following component displays Ember's default welcome message. --}}
{{!-- <WelcomePage /> --}}
{{!-- Feel free to remove this! --}}

<h1>People Tracker</h1>

{{outlet}}